<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Looking Out the Window</string>
		<key>rules</key>
		<array>
			<string>\playerInRoomWithHuge Bat</string>
		</array>
		<key>stages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Looking Out the Window</string>
				<key>explanation</key>
				<string>After looking down on the overgrown yard for moment, there is a crash a shower of broken glass and something flies through the window into the hallway.

With a shriek and flutter, it&apos;s gone again.</string>
				<key>actions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Brush the glass off your clothes and carry on</string>
						<key>triggerEventName</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Paper Bag</string>
		<key>stages</key>
		<array>
			<dict>
				<key>name</key>
				<string>Paper Bag</string>
				<key>explanation</key>
				<string>The paper bag looks wrinkled from repeated clutching and wringing. The opening is rolled closed.</string>
				<key>actions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Open it</string>
						<key>roomChange</key>
						<string>The paper bag looks wrinkled from repeated clutching and wringing. There&apos;s something round, dense, and sticky inside.</string>
						<key>revealItems</key>
						<array>
							<string>Sticky Thing</string>
						</array>
						<key>onceOnly</key>
						<string></string>
					</dict>
					<dict>
						<key>name</key>
						<string>Forget about it</string>
						<key>triggerEventName</key>
						<string></string>
					</dict>
				</array>
				<key>items</key>
				<array>
					<dict>
						<key>name</key>
						<string>Sticky Thing</string>
						<key>actions</key>
						<array>
							<dict>
								<key>name</key>
								<string>Take {[item]Sticky Thing}</string>
								<key>consumeItems</key>
								<array>
									<string>Paper Bag</string>
								</array>
								<key>onceOnly</key>
								<string></string>
								<key>triggerEventName</key>
								<string></string>
							</dict>
						</array>
						<key>hidden</key>
						<string></string>
						<key>canCarry</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>The Dining Table</string>
		<key>stages</key>
		<array>
			<dict>
				<key>name</key>
				<string>After Taking a Seat</string>
				<key>explanation</key>
				<string>You take a seat at the mostly elegant dining table. You can sort of imagine what it must have been like to use the table for actual dining.</string>
				<key>actions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Stay seated</string>
						<key>result</key>
						<string>Although there is nothing to eat, you stay seated.</string>
						<key>replaceAction</key>
						<dict>
							<key>name</key>
							<string>Stay seated</string>
							<key>result</key>
							<string>Although there is nothing to drink, you stay seated.</string>
							<key>replaceAction</key>
							<dict>
								<key>name</key>
								<string>Stay seated</string>
								<key>result</key>
								<string>Although there is no one to talk to, you stay seated.</string>
								<key>replaceAction</key>
								<dict>
									<key>name</key>
									<string>Stay seated</string>
									<key>result</key>
									<string>Finally, you notice something on the table move.

No, wait. That was just a shadow from a breeze that moved the curtain against the window. Nothing happened.</string>
									<key>replaceAction</key>
									<dict>
										<key>name</key>
										<string>Stay seated</string>
										<key>result</key>
										<string>Nothing happens.</string>
									</dict>
								</dict>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>name</key>
						<string>Get up from table</string>
						<key>triggerEventName</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
