<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3 - 2</key>
	<dict>
		<key>name</key>
		<string>Second Floor Landing</string>
		<key>explanation</key>
		<string>The top of the staircase that leads down to the ground floor.</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Go downstairs</string>
				<key>changeFloor</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>Stairs Ascending</string>
		<key>explanation</key>
		<string>Stairs leading up to the second floor are here.</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Go upstairs</string>
				<key>changeFloor</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Basement Landing</string>
		<key>explanation</key>
		<string>The only thing illuminating the area is light from upstairs. You can barely see in front of you.</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Go upstairs</string>
				<key>changeFloor</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Basement Stairs</string>
		<key>explanation</key>
		<string>A hallway with a set of stairs leading down into darkness.</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Go downstairs</string>
				<key>changeFloor</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Foyer</string>
		<key>explanation</key>
		<string>The only light in the house is that which filters through any windows, including the one semi-circular window above the front door. From here, you can only go deeper into the house.</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Leave</string>
				<key>result</key>
				<string>Okay, so long.</string>
				<key>roomChange</key>
				<string></string>
				<key>rules</key>
				<array>
					<string>\hasHole</string>
				</array>
			</dict>
		</array>
		<key>characters</key>
		<array>
			<dict>
				<key>name</key>
				<string>Living Armor</string>
				<key>explanation</key>
				<string>A full suit of medieval armor stands here holding a spiked mace.</string>
				<key>behaviors</key>
				<array>
					<dict>
						<key>qualifier</key>
						<string></string>
						<key>type</key>
						<string>Random</string>
						<key>rules</key>
						<array>
							<string>\timePassed11:32</string>
						</array>
					</dict>
					<dict>
						<key>qualifier</key>
						<string></string>
						<key>type</key>
						<string>Default</string>
						<key>rules</key>
						<array>
							<string>\nopeTimePassed11:32</string>
						</array>
					</dict>
				</array>
			</dict>
		</array>
		<key>items</key>
		<array>
			<dict>
				<key>name</key>
				<string>Grandfather Clock</string>
				<key>explanation</key>
				<string>A grandfather stands tall against the wall, its pendulum still swinging silently.</string>
				<key>actions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Check the clock</string>
						<key>result</key>
						<string>The time is [currentTime].</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Map</string>
				<key>inventoryDescription</key>
				<string>A map of the house.</string>
				<key>canCarry</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Skull</string>
				<key>inventoryDescription</key>
				<string>Someone&apos;s skull. It can talk?</string>
				<key>canCarry</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Pocketwatch</string>
				<key>inventoryDescription</key>
				<string>It still tells time.</string>
				<key>canCarry</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Net</string>
				<key>explanation</key>
				<string>There&apos;s a butterfly net lying on the floor.</string>
				<key>inventoryDescription</key>
				<string>A butterfly net with a long handle</string>
				<key>actions</key>
				<array>
					<dict>
						<key>name</key>
						<string>Snatch bat with the {[item]net}</string>
						<key>result</key>
						<string>Swinging the net deftly, you ensnare the huge bat. It continues to flap and flail for a moment until it suddenly stops, eyes unblinking, breathing rapidly.

Got {[item]Huge Bat}.</string>
						<key>rules</key>
						<array>
							<string>\inRoomWithHuge Bat</string>
						</array>
						<key>removeCharacters</key>
						<array>
							<string>Huge Bat</string>
						</array>
						<key>addItems</key>
						<array>
							<dict>
								<key>name</key>
								<string>Huge Bat</string>
								<key>explanation</key>
								<string>There is a huge bat, paralyzed by shock.</string>
								<key>inventoryDescription</key>
								<string>A bat, paralyzed by shock</string>
							</dict>
						</array>
						<key>onceOnly</key>
						<string></string>
					</dict>
				</array>
				<key>canCarry</key>
				<string></string>
			</dict>
			<dict>
				<key>name</key>
				<string>Box</string>
				<key>inventoryDescription</key>
				<string>It&apos;s just a box.</string>
				<key>maxCapacity</key>
				<integer>99</integer>
			</dict>
		</array>
	</dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>No Room</string>
		<key>explanation</key>
		<string>This is the absence of a room</string>
		<key>actions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Nothing doing</string>
				<key>result</key>
				<string>I&apos;d just restart.</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
