<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Gallery</string>
		<key>explanation</key>
		<string>Tastefull stained hardwood and elegant crown moulding stand out under the dust. The room is vacant except for pieces of art along two of the walls. There are five paintings and a bust on a pedestal.</string>
		<key>actions</key>
		<array>
			<string>Look at the large portrait</string>
			<string>Look at the smaller portrait</string>
			<string>Look at the bust</string>
			<string>Look at the landscape</string>
			<string>Look at the other large portrait</string>
		</array>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Parlor</string>
		<key>explanation</key>
		<string>Two loveseats face each other with a cofee table in between. A jagged hole is in the middle of the table.</string>
		<key>actions</key>
		<array>
			<string>Have a seat</string>
			<string>Check the hole</string>
		</array>
	</dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>Dining Room</string>
		<key>explanation</key>
		<string>A long dining table covere with a cloth that use to be white takes up most of the room. There are places set for ten people. A cradenza sits against one wall.</string>
		<key>actions</key>
		<array>
			<string>Check the credenza</string>
			<string>What is a credenza?</string>
			<string>Sit at the table</string>
		</array>
	</dict>
</dict>
</plist>
