<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>13</key>
	<dict>
		<key>name</key>
		<string>Room: Kitchen</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>I remember doing a lot of work in this kitchen. I thought I was actually a pretty good cook when I was alive.</string>
			<key>rules</key>
			<array>
				<string>\occupyingKitchen</string>
			</array>
		</dict>
	</dict>
	<key>12</key>
	<dict>
		<key>name</key>
		<string>Item: Sitcky Thing</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>You took that thing out of the bag?? It was fine where it was!</string>
			<key>rules</key>
			<array>
				<string>\hasSticky Thing</string>
			</array>
		</dict>
	</dict>
	<key>11</key>
	<dict>
		<key>name</key>
		<string>Item: Paper Bag</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Oh, no... That bag... Where did you find that?</string>
			<key>rules</key>
			<array>
				<string>\hasPaper Bag</string>
			</array>
		</dict>
	</dict>
	<key>10</key>
	<dict>
		<key>name</key>
		<string>Room: Foyer</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>They don&apos;t make grandfather clocks like this one anymore. You can hear its chime from the other side of the house. I can see how that could be annoying, though.</string>
			<key>rules</key>
			<array>
				<string>\occupyingFoyer</string>
			</array>
		</dict>
	</dict>
	<key>9</key>
	<dict>
		<key>name</key>
		<string>Item: Net</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Is that a butterfly net? Do you have... big plans for it?</string>
			<key>rules</key>
			<array>
				<string>\hasNet</string>
			</array>
		</dict>
	</dict>
	<key>8</key>
	<dict>
		<key>name</key>
		<string>Item: Roasted Bat</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>You cooked the bat?! Why would you do something like that?!</string>
			<key>rules</key>
			<array>
				<string>\hasRoasted Bat</string>
			</array>
		</dict>
		<key>isHighPriority</key>
		<true/>
	</dict>
	<key>7</key>
	<dict>
		<key>name</key>
		<string>Item: Huge Bat</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>A bat?! You know, that poor fellow is more scared of you than you are of it.</string>
			<key>rules</key>
			<array>
				<string>\hasHuge Bat</string>
			</array>
		</dict>
	</dict>
	<key>6</key>
	<dict>
		<key>name</key>
		<string>Item: Wrench</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>A wrench is useful for all sorts of things. Like guts! Gut-wrenching. Right??</string>
			<key>rules</key>
			<array>
				<string>\hasWrench</string>
			</array>
		</dict>
	</dict>
	<key>5</key>
	<dict>
		<key>name</key>
		<string>Item: Map</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>You&apos;re using a map? Is this place really that complicated?</string>
			<key>rules</key>
			<array>
				<string>\hasMap</string>
			</array>
		</dict>
	</dict>
	<key>4</key>
	<dict>
		<key>name</key>
		<string>Item: Skull</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Thank you for picking me up, by the way.</string>
			<key>rules</key>
			<array>
				<string>\hasSkull</string>
			</array>
		</dict>
		<key>isHighPriority</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>name</key>
		<string>Item: Armless Doll</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Oh, that doll&apos;s... pretty creepy. I don&apos;t recognize that.</string>
			<key>rules</key>
			<array>
				<string>\hasArmless Doll</string>
			</array>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>name</key>
		<string>Item: Pocketwatch</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>That pocketwatch... I have a feeling it was special? Take care of it, would you?</string>
			<key>rules</key>
			<array>
				<string>\hasPocketwatch</string>
			</array>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>Item: Bandage</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Eugh! Don&apos;t touch me with that.</string>
			<key>rules</key>
			<array>
				<string>\hasBandage</string>
			</array>
		</dict>
	</dict>
	<key>0</key>
	<dict>
		<key>name</key>
		<string>Item: Knife</string>
		<key>detail</key>
		<dict>
			<key>explanation</key>
			<string>Watch where you point that thing.</string>
			<key>rules</key>
			<array>
				<string>\hasKnife</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
